<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/main.css">
  <!-- Google font goes here; simplified to load the entire font family -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Twitter cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site"    content="@yenceesanjeev"/>
    <meta name="twitter:title"   content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="twitter:image" content="https://memecreators.club/images/cover-img.png"/>

     <!-- end of Twitter cards -->

     <!-- Linkedin -->

     <meta property='og:title' content='{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}'/>
     <meta property='og:description' content='A comprehensive guide on Tamil Meme Creation with examples'/>
     <meta property='og:url' content='{{ page.url }}'/>

     {% if page.image %}
       <meta name = "image" property='og:image' content='/images/cover-img.png'/>
     {% else %}
       <meta name = "image" property='og:image' content='/images/cover-img.png'/>
     {% endif %}

     <!-- End of Linkedin -->

  <!-- Buy me a coffee -->
  {% if page.title == "Before you go" %}
  <script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="sanjeevnc" data-description="Support me on Buy me a coffee!" data-message="Thank you for visiting. You can now buy me a coffee!" data-color="#FF813F" data-position="" data-x_margin="18" data-y_margin="18"></script>
 {% endif %}
  <!-- Buy me a coffee -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LW7DKF6XCN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LW7DKF6XCN');
  </script>

</head>
